{% load static %}
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img width="140px" src="{% static 'media/images/large.png' %}" alt="logo">
            </a>
        </div>
        <ul class="nav-menu">
            <li><a href="/" class="nav-link">Inicio</a></li>
            <li><a href="{% url 'home' %}#about" class="nav-link">Nosotros</a></li>
            <li><a href="{% url 'home' %}#cursos" class="nav-link">Nuestros Cursos</a></li>
            <li><a href="#" class="nav-link">Aprender</a></li>
        </ul>
        <div class="nav-actions">
            <a href="https://wa.me/+584248325554" class="btn-whatsapp" target="_blank">
                <i class="fab fa-whatsapp"></i>
                <span>Contáctanos</span>
            </a>
            <div class="nav-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</nav>