{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Linguademic {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'media/images/graduate-hat.ico' %}">
    {% block extra_css %} {% endblock %}
</head>
<body>

    {% include 'includes/navbar.html' %}

    <main>
        {% block content%}
        {% endblock %}
    </main>

    {% include 'includes/footer.html'%}
    
</body>
</html>